*{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.loginAll{
    width: 560px;
    height: 720px;
    margin: 0 auto;
    border: 1px solid lightgray;
    padding: 50px;
}
.loginAll .loginTitle{
    text-align: left;
    font-size: 18px;
}
.loginAll .logPart form{
    display: flex;
    /* width: 468px; */
}
.loginAll .logPart form .inputPart > input{
    display: block;
    width: 290px;
    padding: 10px 15px;
    margin: 15px;
    margin-left: 0;
}
.loginAll .logPart form .logBtn{
    padding: 0 30px;
}