*{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.title{
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 229px;
    text-align: left;
}
.loginAll{
    width: 500px;
    height: 720px;
    margin: 0 auto;
    border: 1px solid lightgray;
    padding: 50px;
}
.loginAll .loginTitle{
    text-align: left;
    font-size: 18px;
}
.loginAll .logPart .log{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.loginAll .logPart .log .inputPart > input{
    display: block;
    width: 290px;
    padding: 15px 15px;
    border-radius: 5px;
}
.loginAll .logPart .log .inputPart .id{
    margin-bottom: 15px;
}
.loginAll .logPart .log .logBtn{
    width: 158px;
    background-color: brown;
}
.loginAll .logPart .check{
    display: flex;
    justify-content: left;
}
.loginAll > button{
    width: 500px ;
    background-color: rgb(252, 195, 38);
    padding: 13px 0;
    margin-top: 30px;
}