*{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.header{
    /* width: 1060px; */
}
.header >p{
    width: 100%;
    background-color: #ee4143;
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
}
.header .header01{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.header .header01 .left_01 p{
    font-size: 12px;
}
.header .header01 .right_01 span{
    font-size: 12px;
    padding-left: 20px;
}

.header .menu{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}
.header .menu span{
    color: #444;
    font-weight: 500;
    cursor: pointer;
}
.header .menu span:hover{
    color: #ee4143;
    font-weight: 600;
}
.header .menu span:focus-within {
  color: #222;
  font-weight: 800;
}