*{
    font-family: sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
}
#root{
    width: 100%;
    height: 100vh;
}
.joinAll{
    width: 100%;
    border: 1px solid red;
    margin: 0 auto;
    padding: 45px 0;
}
.joinAll h1{
    width: 1060px;
    
    font-size: 20px;
    padding-bottom: 20px;
}
.joinAll form{
    width: 1060px;
}
.joinAll .joinForm li{
    width: 520px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.joinAll .joinForm li label{
    text-align: left;
    /* width: 160px; */
    display: inline-block;
    padding: 10px 0; 
    /* flex: 1; */
}
.joinAll .joinForm li input{
    width: 400px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 15px;
    /* flex: 2; */
}
.joinAll form .address{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}