*{
    font-family: sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
}
#root{
    width: 100%;
    height: 100vh;
}
.joinAll{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 70px 0;
}
.joinAll h1{
    /* width: 1060px; */
    font-size: 25px;
    padding-bottom: 50px;
}
.joinAll form .joinForm{
    /* width: 1060px; */
    height: 405px;
}
.joinAll .joinForm li{
    width: 520px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.joinAll .joinForm li label{
    text-align: left;
    /* width: 160px; */
    display: inline-block;
    padding: 10px 0; 
    /* flex: 1; */
}
.joinAll .joinForm li input{
    width: 400px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 15px;
    /* flex: 2; */
}
.joinAll .joinForm li input::placeholder{
    padding-left: 15px;
    color: #b1b1b1;
}
.joinAll .joinForm li input:focus{
    outline: none;
}
.joinAll form .address{
    width: 100%;
    height: 160px;
    /* background-color: aqua; */
}
.joinAll form .joinBtn{
    width: 200px;
    background-color: #d1d1d1;
    border-radius: 5px;
}
.joinAll form .joinBtn:hover{
    background-color: rgb(175, 175, 175);
}