*{
    font-family: sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
}

.address{
    position: relative;
    width: 100%;
    height: 100vh;
}
.address .postcode{
    width: 520px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.address .postcode #post{
    width: 237px;
    margin-left: 52px;
    padding-left: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.address #userAddress{
    width: 192px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 115px;
}
.address #detailAddress{
    width: 192px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 15px;
}
.address .postcode p{
    width: 50px;
    line-height: 50px;
    text-align: left;
}
.address .postcode button{
    height: 50px;
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
}
.address .postcode button:hover{
    background-color: rgb(175, 175, 175);
}

.address .modalOverlay{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
}
.address .modalOverlay .modal{
    position: absolute;
    width: 700px;
    height: 100vh;
    z-index: 10;
    top: 0;
}